<!DOCTYPE html>
<html lang="zh-CN">

<head>
	<title>Login</title>
	<meta charset="utf-8">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="title" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="robots" content="index, follow">
	<!-- Bootstrap css -->
	<link rel="stylesheet" href="../css/bootstrap.css">
	<!-- Bootstrap theme -->
	<link rel="stylesheet" href="../css/bootstrap-theme.css">
	<!-- fontawesome css -->
	<link rel="stylesheet" href="../css/font-awesome.min.css">
	<!-- customized css -->
	<link rel="stylesheet" href="../css/tech.css">
	<style type="text/css">
	</style>
</head>

<body id="login">
<!--header  begin-->
<nav id="back-header" class="navbar" role="navigation">
	<div class="container">
		<div class="row">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
				        data-target="#bs-example-navbar-collapse-1"></button>
				<a class="navbar-brand" href="#"> </a>
			</div>
			<div class="col-auto header-title hidden-xs">前沿技术</div>
			<div class="col-auto help-return">
				<a>返回首页</a>
			</div>
		</div>
	</div>
</nav>
<!--header  end-->
<!--登录面板  begin-->
<div id="vue" class="banner-bg" style="background-image:url(../img/login-bg.jpg);">
	<div class="container">
		<div class="banner-page v-outter-table">
			<div class="row v-table-cell">
				<div class="col-sm-6 col-md-7 col-lg-8" id="login-img">
					<img src="../img/login-bg-text.png" alt="" class="img-responsive">
				</div>
				<!--登录面板  begin-->
				<div class=" col-sm-6 col-md-5 col-lg-4" id="login-panel">
					<div class="panel panel-default" style="margin-bottom: 0px">
						<p class="login-title"><strong>账号登录</strong></p>
						<div class="panel-body login-body">		
							<!--登录提示-->
							<div id="login-tip" class="login-tips" v-if="dataCode">
								<div class="row">
									<div class="col-sm-1">
										<i class="fa fa-exclamation-circle"></i>
									</div>
									<div class="col-sm-11">{{dataMessage}}</div>
								</div>
							</div>
							<!--登陆表单-->
							<form>
								<!--账号-->
								<div class="form-group has-feedfront">
									<span class="glyphicon glyphicon-user form-control-feedfront"></span>
									<input v-model="obj.account" class="form-control" type="text" placeholder="账号" name="account" id="account">
								</div>
								<!--密码-->
								<div class="form-group has-feedfront">
									<span class="glyphicon glyphicon-lock form-control-feedfront"></span>
									<input v-model="obj.password" class="form-control" type="password" placeholder="密码" name="password">
								</div>
								<!--验证码-->
								<div class="form-group">
									<div class="input-group">
										<input class="form-control" v-model="obj.imgCode" type="text" placeholder="输入验证码" name="imgCode">
										<div class="input-group-addon">
											<img alt="验证码"  class="img-verification" name="imgCode" :src="imgCodeUrl"
											     v-on:click="loadImgCode">
										</div>
									</div>
								</div>
								<div class="form-group">
									<button class="btn btn-zxzx btn-block" type="submit" role="button" v-on:click="submit($event)">
										登录
									</button>
								</div>
							</form>
							<div class="login-box-footer text-right">
								<a href="${ctxPath}/account/forget" class="title">忘记密码</a>&nbsp;|&nbsp;<a href="${ctxPath}/account/register" class="title">免费注册</a>
							</div>
						</div>
					</div>
				</div>
				<!--登录面板  end-->
			</div>
		</div>
	</div>
</div>
<!--登录面板  end-->
<!-- jQuery -->
<script src="../js/jquery-1.11.3.js"></script>
<!-- Bootstrap JavaScript -->
<script src="../js/bootstrap.js"></script>
<!-- custom js
<script src="js/请输入.js"></script>-->
<script src="../js/vue.js"></script>
<script type="text/javascript">
	var vue = new Vue({
		el:'#vue',
		data:{
			PATH:'/blade',
			imgCodeUrl:'',
			dataCode:'',
			dataMessage:'',
			obj:{
				account:"",
				password:"",
				imgCode:""
			}
		},
		mounted:function(){
			var _this = this;
			this.initHeight();
			this.loadImgCode($('img[name=imgCode]'));
			$(window).resize(function () {
				_this.initHeight();
			});
		},
		methods:{
			submit:function(e){
				var _this = this;
				$.ajax({
					url: _this.PATH+'/account/login',
					type: 'POST',
					data: $(_this).serialize(),
					dataType: 'json',
					mimeType: 'multipart/form-data',
					contentType: "application/x-www-form-urlencoded",
					cache: false,
					processData: false,
					success: function (data) {
						if (data.code !== 0) {
							_this.dataCode=data.code;
							_this.dataMessage=data.message;
							_this.loadImgCode();
						} else {
							location.href =_this.PATH+ '/home/';
						}
					}
				})
				e.preventDefault();
			},
			loadImgCode:function(imgcode){//验证码加载
				imgcode.attr('src',this.PATH+'/captcha?v=' + Math.random() + '');
			},
			initHeight:function(){//背景及图片高度初始化
				$('.banner-page').height($(window).innerHeight() - $('#back-header').innerHeight()-21);
				$('#login-img img').height($('#login-panel').height());
			}
		}
	})
	
</script>
</body>

</html>
