<!DOCTYPE html>
<html lang="zh-CN">

<head>
	<title>我的发布</title>
	<meta charset="utf-8">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="title" content="">
	<!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="robots" content="index, follow">
	<!-- Bootstrap css -->
	<link rel="stylesheet" href="../css/bootstrap.min.css">
	<!-- Bootstrap theme -->
	<link rel="stylesheet" href="../css/bootstrap-theme.min.css">
	<!-- fontawesome css -->
	<link rel="stylesheet" href="../css/font-awesome.min.css">
	<!-- customized css -->
	<link rel="stylesheet" href="../css/tech.css">
	<style type="text/css">

	</style>
</head>

<body id="project-manager">
<nav id="back-header" class="navbar" role="navigation">
	<div class="container">
		<div class="row">
			<div class="navbar-header">
				<a class="navbar-brand" href="${ctxPath}/ent/"> </a>
			</div>
			<div class="col-auto header-title hidden-xs">前沿技术</div>
			<ul class="header-navigation list-inline col-auto">
				<li><a href="${ctxPath}/project/manager">我的发布</a></li>
				<li><a href="${ctxPath}/logout"><i class="fa fa-sign-out"></i></a></li>
			</ul>
		</div>
	</div>
</nav>
<div class="container" id="vue">
	<div class="panel-basis back">
		<div class="row">
			<div class="col-sm-3 col-md-2" id="menu">
				<ul class="list-unstyled text-center menu">
					<li><a href="${ctxPath}/project/manager">我的发布</a></li>
					<li><a href="${ctxPath}/zxOrder/manager">我的订单</a></li>
					<li><a href="${ctxPath}/message/manager">站内信</a></li>
					<li>
						<a href="#memberManagement" data-toggle="collapse">会员管理<i class="fa fa-chevron-up"></i></a>
						<ul class="list-unstyled submenu collapse in" id="memberManagement">
							<li><a href="${ctxPath}/account/changePWD">修改密码</a></li>
						</ul>
					</li>
				</ul>
				<div class="">
					<img src="../img/tel.png" alt="" class="img-responsive center-block">
				</div>
			</div>
			<div class="col-sm-9 col-md-10" id="content">
				<!--查询  begin-->
				<div class="search">
					<div class="row">
						<div class="col-sm-9">
						</div>
						<div class="col-sm-3">
							<a target="_blank" href="/blade/project/add"
							   class="btn btn-zxzx pull-right add-project-btn">新增项目</a>
						</div>
					</div>
				</div>
				<!--查询 end-->
				<temlpate v-if="project_list.total!='0'">
                        <table class="info-table">
                            <tr>
                                <th colspan="2">项目名称</th>
                                <th>项目类型</th>
                                <th>项目类别</th>
                                <th>进度</th>
                            </tr>
                            <template v-for="item in project_list.rows">
                                <tr>
                                    <td class="fixed-width">
                                        <img :src="path+'/uploadify/renderThumb/'+item.project_pic+'/120x80'" class="img-responsive center-block"></td>
                                    <td>
                                        {{ellipsis(item.project_name)}}
                                    </td>
                                    <td>{{item.project_type}}</td>
                                    <td>{{item.project_style}}</td>
                                    <td>
                                        <a v-if="item.pay_status=='未付款'" class="from-hot" v-on:click="pay(item.tails.id)">重新付款</a>
                                        <span v-else-if="item.status=='未审批'" class="text-hot">审批中</span>
                                        <div v-else>
                                            <a :href="path+downloadUrl+item.project_id" class="text-success">下载审批意见</a>
                                            <div v-if="item.project_offer">中消报价：{{formatNum(item.project_offer)}}元</div>
                                        </div>
                                        <div v-if="item.report_file">
                                            <a class='text-success' :href="path+rarDownloadUrl+item.report_file">下载审批文件</a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="6" class="noborder"></td>
                                </tr>
                            </template>
                        </table>
                    </temlpate>
				<template v-else>
					<div class="well">
						<div class="text-center">
							您还没有发布消防案例，<a class="from-hot" href="/blade/projects/add">点击进入发布。</a>
						</div>
					</div>
				</template>
				<ul id="pagination"></ul>
			</div>
			<pingpp-pay :order="orderId"></pingpp-pay>
		</div>
	</div>
</div>
</div>
<!-- jQuery -->
<script src="../js/jquery-1.11.3.js"></script>
<!-- Bootstrap JavaScript -->
<script src="../js/bootstrap.js"></script>
<script src="../js/bootstrap-paginator.js"></script>
<!-- vue JavaScript -->
<script src="../js/vue.js"></script>
<!-- custom js
<script src="js/请输入.js"></script>-->
<script type="text/javascript">
	<script type="text/javascript">
	var vue = new Vue({
		el: '#vue',
		data: {
			path: '${ctxPath}',
			url: '/project/view',
			downloadUrl:'/project/pdf/',
			project_list: '',
			result:{
				page_num:'',
				page_size:1
			},
			orderId:''
		},
		mounted: function () {		
			this.load();
		},
		methods: {
			load: function () {
				$.ajax({
					type: 'POST',
					url: this.path + this.url,
					data:this.result,
					dataType: 'json',
					traditional: true,
					success: function (data) {
						vue.project_list = data.data;
					}
				})
			},
			paginator: function () {
				$('#pagination').bootstrapPaginator({
					currentPage: vue.project_list.page,
					totalPages: vue.project_list.total,
					numberOfPages: 5,
					alignment: 'center',
					onPageClicked: function (event, originalEvent, type, page) { //异步换页
						vue.result.page_num = page;
						vue.load();
					}
				});
			},
			ellipsis: function (text) {
				if (text.length > 11) {
					return text.substring(0, 7) + "..." + text.substring(text.length - 4, text.length);
				}
				else {
					return text;
				}
			},
			pay:function(id){
				this.orderId=id;
				$('#pingpp').modal('show');
			},
            formatNum: function(num) {//每三位一个逗号
                var str = parseInt(num).toString();
                var len = str.length;
                if (len <= 3) {
                    return str;
                }
                var r = len % 3;
                return r > 0 ? str.slice(0, r) + "," + str.slice(r, len).match(/\d{3}/g).join(",") : str.slice(r, len).match(/\d{3}/g).join(",");
            }
		},
		watch: {
			project_list: function () {
				if (this.project_list.total > 0) {
					$('#pagination').show();
					this.paginator();
				}
				else {
					$('#pagination').hide();
				}
			}
		}
	});
</script>
</script>
<script src="../js/menu.js"></script>
</body>

</html>
