<!DOCTYPE html>
<html lang="zh-CN">

<head>
	<title>账号信息</title>
	<meta charset="utf-8">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="title" content="">
	<!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="robots" content="index, follow">
	<!-- Bootstrap css -->
	<link rel="stylesheet" href="../css/bootstrap.min.css">
	<!-- Bootstrap theme -->
	<link rel="stylesheet" href="../css/bootstrap-theme.min.css">
	<!-- fontawesome css -->
	<link rel="stylesheet" href="../css/font-awesome.min.css">
	<link rel="stylesheet" href="../css/iconfont.css">
	<!-- customized css -->
	<link rel="stylesheet" href="../css/tech.css">
	<link rel="stylesheet" href="../css/bootstrap-chinese-region.css">
	<link rel="stylesheet" href="../css/bootstrap-datetimepicker.min.css">
	<link rel="stylesheet" href="../css/jrValidator.css">
	<link rel="stylesheet" href="../css/fileinput.css">
	<style type="text/css">

	</style>
</head>
<body id="register">
<!--header  begin-->
    <nav id="back-header" class="navbar" role="navigation">
        <div class="container">
            <div class="row">
                <div class="navbar-header">
                    <a class="navbar-brand" href="${ctxPath}/" style="background-image: url(../img/logo_sm1.png);"> </a>
                </div>
                <div class="col-auto header-title hidden-xs">前沿科技</div>
            </div>
        </div>
    </nav>
    <div class="container" id="vue">
        <div class="panel-basis">
            <!--账号资料  begin-->
            <form class="form-horizontal" method="post" id="form-account">
                <!--用户名-->
                <div class="form-group">
                    <label class="control-label col-sm-3 ">用户名:</label>
                    <div class="col-sm-4">
                        <input class="form-control" type="text" v-model="form.account" required data-validation-message="请输入以字母开头由英文字母和数字组成的4-16位用户名" data-custom-regex="^[a-zA-Z]\w{3,15}$">
                    </div>
                    <div class="col-sm-5 col-md-4 tips" v-show="tips.account">{{tips.account}}</div>
                </div>
                <!--安全手机-->
                <div class="form-group">
                    <label class="control-label col-sm-3 ">安全手机:</label>
                    <div class="col-sm-4">
                        <input class="form-control" type="text" v-model="form.phone" required data-validation-message="请输入正确的11位手机号" data-custom-regex="^1[34578]\d{9}$">
                    </div>
                    <div class="col-sm-5 col-md-4 tips" v-show="tips.phone">{{tips.phone}}</div>
                </div>
                <!--手机验证码-->
                <div class="form-group">
                    <label class="control-label col-sm-3 ">手机验证码:</label>
                    <div class="col-sm-4">
                        <div class="input-group">
                            <input class="form-control" type="text" v-model="form.code" required data-validation-message="手机验证码不能为空">
                            <div class="input-group-btn">
                                <sms-code :phone="form.phone" :account="form.account"></sms-code>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-5 col-md-4 tips" v-show="tips.code">{{tips.code}}</div>
                </div>
                <!--密码-->
                <div class="form-group">
                    <label class="control-label col-sm-3 ">密码:</label>
                    <div class="col-sm-4">
                        <input id="password" class="form-control" type="password" v-model="form.pwd1" required data-validation-message="密码最少8个字符，包括至少1个大写字母，1个小写字母和1个数字" data-password-pattern="3">
                    </div>
                    <div class="col-sm-5 col-md-4 tips" v-show="tips.pwd1">{{tips.pwd1}}</div>
                </div>
                <!--确认密码-->
                <div class="form-group">
                    <label class="control-label col-sm-3 ">确认密码:</label>
                    <div class="col-sm-4">
                        <input class="form-control" type="password" v-model="form.pwd2" required data-validation-message="两次密码不一致" data-password-pattern="retype" data-for-password-id="password">
                    </div>
                    <div class="col-sm-5 col-md-4 tips" v-show="tips.pwd2">{{tips.pwd2}}</div>
                </div>
                <!--获取渠道-->
                <!--用户名-->
                <div class="form-group">
                    <label class="control-label col-sm-3 ">获取渠道:</label>
                    <div class="col-sm-4">
                        <input class="form-control" type="text" v-model="form.user_src" required data-validation-message="请输入获取渠道">
                    </div>
                    <div class="col-sm-5 col-md-4 tips" v-show="tips.user_src">{{tips.user_src}}</div>
                </div>
                <!--提交  begin-->
                <div class="row">
                    <div class="col-sm-4 col-md-5  col-sm-offset-3">
                        <button class="btn  btn-zxzx center-block" type="submit" v-on:click.prevent="submit">提交
                        </button>
                    </div>
                </div>
                <!--提交  end-->
            </form>
            <!--账号资料  end-->
        </div>
    </div>
  </div>
</div>
<!-- jQuery -->
<script src="../js/jquery-1.11.3.js"></script>
<!-- Bootstrap JavaScript -->
<script src="../js/bootstrap.js"></script>
<!-- vue JavaScript -->
<script src="../js/vue.js"></script>
<!-- custom js<script src="js/请输入.js"></script>-->
<script src="../js/bootstrap-chinese-region.js"></script>
<script src="../js/bootstrap-datetimepicker.js"></script>
<script src="../js/bootstrap-datetimepicker.sc.js"></script>
<script src="../js/jrValidator.js"></script>
<script src="../js/fileinput.js"></script>
<script src="../js/zh.js"></script>
<script src="../js/component.js"></script>
<script type="text/javascript">
	    var vue = new Vue({
        el: '#vue',
        data: {
            path: '${ctxPath}',
            submitUrl: '/account/register',
            nextHref: '/account/entinfo',
            form: {
                account: '',
                phone: '',
                pwd1: '',
                pwd2: '',
                code: '',
                user_src: ''
            },
            tips: {
                class: '',
                account: '4-16位字符，由英文字母和数字组成的。设置完毕后用于登录，请牢记',
                phone: '可通过该手机号码快速找回密码',
                pwd1: '最少8个字符，需包含大小写字母及数字',
                pwd2: '请再次输入密码',
                code: '',
                user_src: '例如朋友介绍，网站介绍，微信推送等'
            }
        },
        methods: {
            submit: function() {
                if (jrValidateForm('form-account')) {
                    $.ajax({
                        url: this.path + this.submitUrl,
                        type: 'POST',
                        data: this.form,
                        dataType: 'json',
                        cache: false,
                        traditional: true,
                        success: function(data) {
                            if (data.code === 0) {
                                location.href = vue.path + vue.nextHref;
                            } else {
                                if (data.data.field) {
                                	console.log(1)
                                    for (var name in vue.tips) {
                                        vue.$data.tips[name] = false
                                    }
                                    vue.tips[data.data.field] = data.message;
                                } else {
                                    alert(data.message);
                                }
                            }
                        }
                    })
                }
            }
        },
        mounted: function() {

        }
    })
</script>
<script src="../js/menu.js"></script>
</body>

</html>
